# Ignore virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# OS Files
.DS_Store

# Logs
*.log

# Byte-compiled / optimized files
*.pyo
*.pyd

# Virtualenv folders inside app
app/venv/
